* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: dik;
  src: url(font/gothicb.ttf);
}

@font-face {
  font-family: dun;
  src: url(font/GOTHIC.ttf);
}

span {
  border: 1px white solid !important;
  }

.s1 {
  background-image: url("img/slide1/shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s2 {
  background-image: url("img/slide2/degrader1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s3 {
  background-image: url("img/slide3/degrader5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s4 {
  background-image: url("img/slide4/degrader3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s5 {
  background-image: url("img/slide5/degrader6.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: dik;
  font-size: 30px;
}

h2 {
  font-family: dun;
  font-size: 15px;
}


.white {
  color: white;
}

.black {
  color: black;
}